.settings {
    padding: 20px;
  }
  
  .setting-item {
    margin-bottom: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
  }
  
  .setting-item h3 {
    margin-top: 0;
  }
  
  .setting-item button {
    padding: 8px 15px;
    background: #e73b28;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .setting-item button.confirm {
    background: #e73b28;
  }
  
  .setting-item button:hover {
    background: rgb(155, 5, 5);
  }
  
  .setting-item button.confirm:hover {
    background: rgb(155, 5, 5);
  }